.name{
    background-color: #61dafb;
}
.name::placeholder{
    color: darkblue;
}
.surname{
    background-color: lightseagreen;
}
.surname::placeholder{
    color: green;
}
.email {
    background-color: lightpink;
}
.email::placeholder{
    color: red;
}